<header class="navbar-fixed-top">
  <div id="header-background">
  <h1>Hello! Welcome to TickeTracker!</h1>
  <h3>Make Smarter Purchases.</h3>
  <hr>
  <nav>Site Navigation</nav>
  <ul id="slide_nav">
    <li><a href="#search">Search Events</a></li>
    <li><a href="#concerts">Concerts</a></li>
    <li><a href="#sports">Sports</a></li>
    <li><a href="#users">Sign-Up</a></li>
    <li><a href="#about">About</a></li>
  </ul>
  </div> <!-- end div id="header-background" -->
</header>