// Place all the styles related to the Site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {

}

body {
  margin: 20px;
  padding-top: 200px;
  font-family: Helvetica, Arial, Verdana;
}

#background {
  background-image: url('stadium.jpg');
  opacity: 0.5;
  z-index: -1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  position: fixed;
  right: 0;
}

#page {
  /*background-color: #142392;*/
}

#wrapper {
  width: 960px;
  margin: 0 auto;
  padding: 0;
  z-index: 1;
}

header {
  width: 960px;
  margin: 0 auto;
  z-index: 2;
  padding-top: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}

#header-background {
  width: 960px;
  margin: 0 auto;
  z-index: 1;
  padding-top: 10px;
  background-color: rgba(255, 255, 255, 1);
}

/*========== TEXT =============*/

h1 {
  font-size: 22pt;
  text-align: center;
  color: #888;
  margin: 0 0 10px 0;
}

h3 {
  font-size: 16pt;
  text-align: center;
  color: #BBB;
  margin: 0 0 10px 0;
}

/*========== SLIDER NAV =============*/

#slide_nav {
  margin: 0 0 20px 0;
  padding: 0;
  min-height: 40px;
}

#slide_nav li {
  font-size: 10pt;
  color: #000;
  list-style: none;
  float: left;
  padding: 5px 10px;
  cursor: pointer;
  text-align: center;
}

#slide_nav {
  width: 567px;
  text-align: center;
  margin: 0 auto;
}

.selected {
  background: rgba(255, 0, 0, .5);
  border-radius: 10px;
}

/*========== SLIDER CONTAINER PARTS =============*/

#slide_frame {
  width: 800px;
  height: 500px;
  overflow: hidden;
  position: relative;
}

#slide_block {
  position: relative;
}

.slide_unit {
  width: 800px;
  height: 500px;
  float: left;
}

/*========== CLICKER =============*/

#clicker_f {
  float: right;
  width: 20px;
  height: 27px;
  position: relative;
  z-index: 1;
  margin: 0 20px 0 0;
  bottom: 264px;
}

#clicker_f a:link, #clicker_f a:visited {
  display: block;
  width: 20px;
  height: 27px;
 /* background: ;*/
  border: 0;
  text-decoration: none;
}

/*========== OTHER =============*/

#footer li {
  font-size: 10pt;
  color: #000;
  list-style: none;
  float: left;
  padding: 5px 10px;
  cursor: pointer;
  text-align: center;
}

/*========== TEXT =============*/

nav {
  width: 800px;
  text-align: center;
  font-weight: bold;
}

/*========== OTHER =============*/

#event_chart {
  width: 960px;
  float: left;
  align: center;
  border: solid;
  background-image: url('nba_logos.jpg');
}

#event_chart {

}

/*========== SEARCH =============*/

#search_bar {
  text-align: center;
}

